/* _content/ManejoPresupuesto/Views/Cuentas/Index.cshtml.rz.scp.css */
h1[b-jux0ejq0s0] {
    color: red;
}

.acordeon-cuentas button[b-jux0ejq0s0] {
    color: black !important;
    font-size: 20px;
}

    .acordeon-cuentas button > span[b-jux0ejq0s0] {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

.acordeon-cuentas ul li[b-jux0ejq0s0] {
    display: flex;
    justify-content: space-between;
}

.acordeon-cuentas .accordion-collapse[b-jux0ejq0s0] {
    font-size: 18px;
}
/* _content/ManejoPresupuesto/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-hk28mg7boz] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-hk28mg7boz] {
  color: #0077cc;
}

.btn-primary[b-hk28mg7boz] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-hk28mg7boz], .nav-pills .show > .nav-link[b-hk28mg7boz] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-hk28mg7boz] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-hk28mg7boz] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-hk28mg7boz] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-hk28mg7boz] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-hk28mg7boz] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

